@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  cursor: pointer;
  display: inline-flex;
  gap: 11px;
  align-items: center;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }

  .checkboxWrapper {
    @include flex-center;

    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;

    .root {
      @include flex-center;

      position: relative;
      z-index: 1;

      width: 18px;
      height: 18px;

      background-color: transparent;
      border-radius: 2px;

      &::after {
        content: '';

        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 36px;
        height: 36px;

        border-radius: 50%;

        transition: 0.2s;
      }

      &:focus-visible {
        outline: 2px solid var(--color-info-500);
      }

      &:hover:active:not([data-disabled]) {
        background-color: var(--color-dark-900);
      }

      &[data-state='checked'][data-disabled] {
        background-color: var(--color-light-700);
      }

      .indicator {
        width: 18px;
        height: 18px;
      }

      &:hover:not(.disabled)::after {
        background-color: var(--color-dark-500);
      }

      &:active:not(.disabled)::after {
        background-color: var(--color-dark-100);
      }
    }
  }

  &:active:not(.disabled) .checkboxWrapper .root::after {
    background-color: var(--color-dark-100);
  }
}
