@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  cursor: pointer;
  display: inline-flex;
  gap: 2px;
  align-items: center;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }

  .checkboxWrapper {
    @include flex-center;

    box-sizing: border-box;
    width: 36px;
    height: 36px;

    border-radius: 50%;

    transition: background-color 0.2s ease-in-out;

    .root {
      @include flex-center;

      width: 18px;
      height: 18px;
      background-color: transparent;
      border-radius: 2px;

      &:focus-visible {
        outline: 2px solid var(--color-info-500);
      }

      &:hover:active:not([data-disabled]) {
        background-color: var(--color-dark-900);
      }

      &[data-state='checked'][data-disabled] {
        background-color: var(--color-light-700);
      }

      .indicator {
        width: 18px;
        height: 18px;
      }
    }
  }

  &:hover:not(.disabled) > div {
    background-color: var(--color-dark-500);
  }

  &:active:not(.disabled) > div {
    background-color: var(--color-dark-100);
  }
}
