.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 33px 36px;

  .title {
    padding-bottom: 40px;
  }

  .info {
    margin-bottom: 100px;
    color: var(--color-light-900);
    text-decoration: none;
    opacity: 0.5;
  }
}
