.learnWrapper {
  padding: 33px 36px 48px;

  .titleLearn {
    margin-bottom: 30px;
    text-align: center;
  }

  .count {
    margin: 6px 0 12px;
    color: var(--color-dark-100);
  }
}

@media screen and (width <= 840px) {
  .learnWrapper {
    padding: 13px 14px 20px;

    .titleLearn {
      margin-bottom: 10px;
    }
  }
}
