.wrapper {
  .learnWrapper {
    padding: 33px 36px 48px;

    .titleLearn {
      margin-bottom: 48px;
      text-align: center;
    }

    .question {
      margin-bottom: 18px;
    }

    .count {
      margin: 18px 0;
    }
  }
}
