.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);

  .tableHead {
    background-color: var(--color-dark-500);

    .tableRow {
      background-color: var(--color-dark-500);

      .tableCell {
        overflow: hidden;

        padding: 6px 24px;

        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;

        .sortIconContainer {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding-left: 4px;

          .rotateIcon {
            transform: rotate(-180deg);
            transition: 0.3s;
          }
        }

        &:hover:not(.notActive) {
          cursor: pointer;
          background-color: var(--color-dark-300);
          transition: background-color 0.3s;
        }
      }

      .optionsStyle {
        width: 10%;
      }

      .rightAlign {
        text-align: center;
      }

      .notActive {
        cursor: default;
      }
    }
  }

  .tableBody {
    box-sizing: border-box;

    .tableRow {
      box-sizing: border-box;
      max-height: 63px;

      .tableDataCell {
        position: relative;

        overflow: hidden;

        padding: 6px 24px;

        text-overflow: ellipsis;
        white-space: nowrap;

        border-top: 1px solid var(--color-dark-500);

        div > p {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .nameWrapper {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: start;

          .tableImage {
            min-width: 70px;
            max-width: 70px;
            height: 50px;
            object-fit: cover;
          }
        }

        .iconContainer {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: right;

          .iconWrapper {
            all: unset;
            cursor: pointer;
          }
        }

        &:first-child {
          cursor: pointer;
        }
      }

      &:hover {
        background-color: var(--color-dark-700);
        transition: background-color 0.3s;
      }
    }
  }
}
