.previousPage {
  cursor: pointer;

  display: inline-flex;
  gap: 6px;
  align-items: center;

  margin-bottom: 33px;

  text-decoration: none;

  &:hover {
    color: var(--color-accent-300);
    transition: 0.2s ease-in-out;
  }
}
