.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .paginationContainer {
    display: flex;
    flex-wrap: nowrap;

    .iconWrapper {
      cursor: pointer;
      margin: 0 4px;
      background-color: transparent;
      border: none;

      svg {
        display: flex;
        align-items: center;
      }

      &:focus-visible {
        border-radius: 2px;
        outline: 2px solid var(--color-info-900);
      }
    }

    .button {
      cursor: pointer;

      margin: 0 6px;
      padding: 4px 8px;

      text-align: center;

      background-color: transparent;
      border: none;

      &:hover {
        background-color: var(--color-dark-500);
        border-radius: 2px;
      }

      &:focus-visible {
        border-radius: 2px;
        outline: 2px solid var(--color-info-900);
      }
    }

    .activeItem {
      color: black;
      background-color: var(--color-light-100);
      border-radius: 2px;

      span {
        font-weight: var(--font-weight-bold);
      }
    }
  }

  .selectContainer {
    display: flex;
    gap: 9px;
    align-items: center;
    margin-left: 24px;
  }
}

.dots {
  margin: 0 6px;
}

.selectItem {
  padding: 0 6px;
}
