.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);

  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  background-color: var(--color-accent-500);
  box-shadow: 0 2px 10px rgb(140 97 255 / 50%);

  &:hover {
    background-color: var(--color-accent-300);
    transition: 0.15s;
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  box-shadow: 0 2px 10px rgb(76 76 76 / 50%);

  &:hover {
    background-color: var(--color-dark-100);
    transition: 0.15s;
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}
