.wrapper.wrapper {
  overflow: hidden;

  .scroll {
    overflow: hidden auto;
    height: 500px;
  }

  .input {
    margin-top: 12px;
  }

  .button {
    margin: 24px 0;
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px;
  }
}
