.header {
  position: fixed;
  z-index: 999;


  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;
  padding: 12px 60px;

  background-color: var(--color-dark-700);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1120px;

    .logo {
      cursor: pointer;
      height: 36px;
    }

    .userInfo {
      display: inline-flex;
      gap: 14px;
      align-items: center;
      justify-content: center;

      height: 36px;

      .userName {
        cursor: pointer;
        border-bottom: 2px dashed var(--color-light-100);
        transition: 0.2s;

        &:hover{
          color: var( --color-accent-700);
          border-bottom: 2px dashed var(--color-accent-700);
        }

        &:active{
          scale: 0.95;
        }
      }


    }
  }
}

.triggerAvatar{
  transition: 0.2s;

  &:hover{
    box-shadow: 0 0 20px var(--color-accent-700);
  }
}

.userAvatar {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.dropdownLabel {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  padding: 5px;

  .dropdownUserInfo{
    display: flex;
    flex-direction: column;

    .dropdownUserEmail{
      color: var(--color-dark-100);
    }
  }
}

.dropdownItem{
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 5px;

  &[data-highlighted]{
    background-color: var(--color-dark-500);
    border-radius: 4px;
    outline: none;
  }


}
