.input {
  all: unset;
}

.withoutDecoration {
  background-color: deepskyblue;
}

.eyeDecoration {
  background-color: greenyellow;
}

.searchDecoration {
  background-color: yellow;
}

.error {
  background-color: red;
}
