.root {
  position: relative;
  box-sizing: border-box;

  .label {
    cursor: pointer;
    color: var(--color-dark-100);

    &.labelDisabled {
      color: var(--color-dark-300);
    }
  }

  .input {
    all: unset;

    box-sizing: border-box;
    width: 100%;
    padding: 5px 12px;

    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    color: var(--color-light-100);

    background-color: rgb(116 252 191 / 0%);
    border: 1px solid var(--color-dark-300);
    border-radius: 2px;

    transition:
      background-color 0.3s,
      border 0.3s;

    &.error {
      color: var(--color-danger-300);
      border: 1px solid var(--color-danger-300);
    }

    &:disabled::placeholder {
      color: var(--color-dark-300);
    }

    &.eyeDecoration {
      padding-right: 40px;
    }

    &.searchDecoration {
      padding-left: 41px;
    }

    &:disabled {
      color: var(--color-dark-300);
      border: 1px solid var(--color-dark-300);
    }

    &:focus-within,
    &:-webkit-autofill:focus-within {
      border: 1px solid var(--color-info-700);
    }
    /* stylelint-disable */
    &:-webkit-autofill,
    &:-webkit-autofill:hover:not(:disabled),
    &:-webkit-autofill:focus-within,
    &:-webkit-autofill:active:not(:disabled) {
      transition:
        background-color 1000000000000000000000s ease-in-out 0s,
        border-bottom-color 0.3s,
        border-right-color 0.3s,
        border-top-color 0.3s,
        border-left-color 0.3s;

      -webkit-text-fill-color: var(--color-light-100);
    }

    &:active:not(:disabled),
    &:-webkit-autofill:active:not(:disabled) {
      border: 1px solid var(--color-light-100);
    }
    &:hover:not(:disabled):not(:focus-within):not(.error),
    &:-webkit-autofill:hover:not(:disabled):not(:focus-within) {
      background-color: var(--color-dark-700);
      border: 1px solid var(--color-dark-100);
    }
  }

  .eyeSection {
    cursor: pointer;

    position: absolute;
    right: 12px;
    bottom: 6px;

    display: flex;
    align-items: center;

    height: 24px;
    padding: 0;

    color: var(--color-light-100);

    background: none;
    border: none;

    &:has(~ .input:disabled) {
      cursor: default;
      color: var(--color-dark-300);
    }
  }

  .searchSection {
    position: absolute;
    bottom: 8px;
    left: 12px;

    display: flex;
    align-items: center;

    padding: 0;

    color: var(--color-dark-100);

    background: none;
    border: none;

    &:disabled svg {
      color: var(--color-dark-300);
    }

    &:has(~ .input:focus) {
      color: var(--color-light-100);
    }
  }

  .crossSection {
    cursor: pointer;

    position: absolute;
    right: 10px;
    bottom: 9px;

    display: flex;
    align-items: center;

    padding: 0;

    color: var(--color-dark-100);

    background: none;
    border: none;

    &:has(~ .input:focus) {
      color: var(--color-light-100);
    }
  }
}

.errorCaption {
  font-size: var(--font-size-xs);
  color: var(--color-danger-300);
}

@media screen and (width <= 840px) {
  .root {
    width: 100%;
  }
}
