/* reset */
button {
  all: unset;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;

  .VariantWrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .RadioGroupItem {
      cursor: pointer;
      width: 16px;
      height: 16px;

      svg {
        color: var(--color-accent-500);
      }

      .RadioIndicator {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-accent-500);

        &.Disabled {
          cursor: initial;
        }

        &.Disabled svg {
          color: var(--color-accent-900);
        }

        &:hover,
        :focus-visible,
        :active {
          &:not(.Disabled) {
            &:not(svg) {
              width: 170%;
              height: 170%;
              margin-top: -5px;
              margin-left: -5px;

              background-color: var(--color-dark-500);
              border-radius: 50%;
            }
          }
        }
      }
    }

    .Label {
      cursor: pointer;
      padding-left: 12px;
      line-height: 1;
      color: white;

      &.Disabled {
        cursor: revert;
        color: var(--color-light-900);
      }
    }
  }
}
