/* reset */
button {
  all: unset;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;

  .VariantWrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .RadioGroupItem {
      cursor: pointer;
      width: 16px;
      height: 16px;

      .RadioIndicator {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-accent-500);

        svg {
          color: var(--color-accent-500);
        }
      }
    }

    &:not(&.Disabled) {
      .RadioGroupItem:hover,
      .RadioGroupItem:focus-visible {
        .RadioIndicator {
          width: 170%;
          height: 170%;
          margin-top: -6px;
          margin-left: -6px;

          border-radius: 50%;
        }
      }

      .RadioGroupItem:hover .RadioIndicator {
        background-color: var(--color-dark-500);
      }

      .RadioGroupItem:focus-visible .RadioIndicator {
        background-color: var(--color-dark-700);
      }

      .RadioGroupItem:active .RadioIndicator {
        background-color: var(--color-accent-900);
      }
    }

    .Label {
      cursor: pointer;
      padding-left: 12px;
      line-height: 1;
      color: var(--color-light-100);
    }

    &.Disabled {
      .Label {
        cursor: revert;
        color: var(--color-light-900);
      }
    }
  }
}
