.wrapper {
  width: 520px;

  .input {
    margin-top: 24px;
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px;
  }
}

@media screen and (width <= 840px) {
  .input {
    margin-top: 12px;
  }

  .buttonWrapper {
    margin: 12px 0 10px;
  }
}
