.wrapper {
  .previousPage {
    display: inline-flex;
    gap: 6px;
    align-items: center;

    margin-bottom: 33px;

    text-decoration: none;

    &:hover {
      color: var(--color-accent-300);
      transition: 0.2s ease-in-out;
    }
  }

  .titleButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .deckImage {
    img {
      width: 170px;
      height: 107px;
      margin-top: 15px;
      object-fit: cover;
    }
  }

  .input {
    margin: 24px 0;
  }

  .pagination {
    margin: 24px 0 120px;
  }

  .noContent {
    text-align: center;
  }
}

.imageWrapper {
  display: flex;
  gap: 20px;
  align-items: center;

  .image {
    img {
      width: 70px;
      height: 50px;
      object-fit: cover;
    }
  }
}

.grade {
  z-index: 3;
  margin-right: 10px;
  color: #e5ac39;
}

.iconsWrapper {
  display: flex;

  .iconWrap {
    margin-right: 10px;

    .editIcon,
    .trashIcon {
      cursor: pointer;
    }
  }
}
