.wrapper {
  .titleButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titleDropWrap {
      display: flex;
      align-items: center;
      width: 100%;

      .title {
        margin-right: 6px;
      }

      .triggerDropdown {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 2px;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .button {
    min-width: 160px;
  }

  .deckImage {
    img {
      width: 150px;
      height: 140px;
      margin-top: 15px;
      object-fit: cover;
    }
  }

  .input {
    margin: 24px 0;
  }

  .pagination {
    margin: 24px 0 120px;
  }

  .noContent {
    text-align: center;
  }
}

.imageWrapper {
  display: flex;
  gap: 20px;
  align-items: center;

  .image {
    img {
      width: 60px;
      height: 50px;
      object-fit: cover;
    }
  }
}

.dropItem {
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 5px;

  &[data-highlighted] {
    background-color: var(--color-dark-500);
    border-radius: 4px;
    outline: none;
  }
}

.iconsWrapper {
  display: flex;

  .iconWrap {
    margin-right: 10px;

    .editIcon,
    .trashIcon {
      cursor: pointer;
    }
  }
}

.questionStyle {
  width: 30%;
}

.answerStyle {
  width: 30%;
}

.updatedStyle {
  width: 15%;
}

.gradeStyle {
  width: 15%;
}

.disabled {
  pointer-events: none;
  color: var(--color-dark-100);
  stroke: var(--color-dark-700);
}
